//Able to use nesting of elements specific to a section to clean up code

.introduction {
    min-height: 100vh;

    // includes the mixin created in the global styles with ability to pass in arguments to control
    // flex direction, justitify content, and align items
    @include flex2(column, center, center);

    h2 {
        font-size: $bigText;
    }

    button {
        border: none;
        // this primary color is defined in the global styles allowing us access
        background-color: $primaryColor;
        padding: 1rem 3rem;
        cursor: pointer;
        // Nesting works with pseudo elements and classes
        &:hover {
            background: lightblue;
        }
    }
}
